<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">
<div id='subscribe-css'>
	<p class='subscribe-note'>
		<span>SUBSCRIBE</span><span class='itatu'>TO</span> OUR NEWSLETTER
	</p>
	<div class='subscribe-wrapper'>
		<div class='subscribe-form'>
			<form action='http://feedburner.google.com/fb/a/mailverify?uri=MasAlfan' class='subscribe-form' method='post' onsubmit='window.open (&apos;http://feedburner.google.com/fb/a/mailverify?uri=MasAlfan&apos;, &apos;popupwindow&apos;, &apos;scrollbars=yes,width=550,height=520&apos;);return true' target='popupwindow'>
				<input name='uri' type='hidden' value='MasAlfan'/><input name='loc' type='hidden' value='en_US'/><input autocomplete='off' class='subscribe-css-email-field' name='email' placeholder='Enter your Email'/><input class='subscribe-css-email-button' title='' type='submit' value='submit'/>
			</form>
		</div>
	</div>
</div>
<div class="footer-copyright py-3">
	 © 2018 Copyright: <a href="https://www.alfan.my.id" target="_blank">Mas Alfan</a>
</div>
</footer>